* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.container {
  width: 1193px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.header .container {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}
.header .nav-list {
  display: flex;
  gap: 50px;
}
.header .nav-item {
  list-style: none;
}
.header .nav-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  color: #3D3D3D;
}
.header .nav-link:hover {
  color: rgba(51, 51, 51, 0.6039215686);
}
.header .select-link {
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #3D3D3D;
  padding-left: 20px;
}
.header .select-link:hover {
  color: #C3228F;
  text-decoration: underline;
}

.shalet-logo .container {
  padding-top: 107px;
}
.shalet-logo__img {
  display: flex;
  align-items: center;
  gap: 41px;
}
.shalet-logo__title {
  padding-top: 33px;
  font-size: 26px;
  line-height: 30px;
  color: #3D3D3D;
}

.reklama {
  position: relative;
}
.reklama-img {
  display: flex;
  margin-top: 50px;
}
.reklama-img img {
  width: 533px;
  height: 650px;
}
.reklama-img2 {
  position: absolute;
  top: -112px;
  right: 423px;
}
.reklama-list {
  display: flex;
  gap: 35px;
}
.reklama-item {
  font-size: 32px;
  line-height: 38px;
  list-style: none;
  display: flex;
  align-items: center;
}
.reklama-item img {
  width: 45px;
  height: 30px;
  margin-right: 35px;
}

.brand {
  margin-top: 180px;
}
.brand-info {
  display: flex;
  align-items: center;
  gap: 70px;
}
.brand-title {
  font-size: 40px;
  line-height: 56px;
  color: #3D3D3D;
  text-transform: uppercase;
  margin-top: 25px;
}
.brand-title span {
  color: #C3228F;
}
.brand-title2 {
  font-size: 40px;
  line-height: 56px;
  color: #C3228F;
  text-transform: uppercase;
  margin-top: 25px;
}
.brand-desc {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 30px;
}
.brand-desc span {
  color: #C3228F;
}

.about {
  position: relative;
  margin-top: 240px;
}
.about .container {
  background-color: rgba(157, 44, 121, 0.2);
  padding-bottom: 95px;
}
.about img {
  position: absolute;
  top: -60px;
  left: 273px;
}
.about-title {
  font-size: 26px;
  line-height: 30px;
  padding: 54px 0 30px 102px;
  color: #3D3D3D;
  text-transform: uppercase;
}
.about-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #3D3D3D;
  padding: 0 102px 20px 102px;
}
.about-desc a {
  color: #C3228F;
}

.product {
  margin-top: 180px;
}
.product .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-title {
  font-size: 26px;
  line-height: 30px;
  color: #3D3D3D;
  text-transform: uppercase;
  padding-top: 20px;
}
.product-icon {
  display: flex;
  gap: 15px;
}

.marketing {
  background-color: #F5F5F5;
  display: flex;
  margin-top: 40px;
}
.marketing-img {
  width: 398px;
  text-align: center;
}
.marketing-title {
  color: #3D3D3D;
  font-size: 16px;
  line-height: 18px;
}
.marketing-desc {
  font-size: 14px;
  line-height: 20px;
  color: #3D3D3D;
  font-weight: 400;
  padding: 11px 40px 0 40px;
}

.sale-part {
  display: flex;
  gap: 32px;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
}
.sale-title {
  font-size: 26px;
  line-height: 30px;
  color: #3D3D3D;
  padding-bottom: 20px;
}
.sale-desc {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  padding-bottom: 60px;
}
.sale-img {
  position: absolute;
  top: -30px;
  left: 348px;
}
.sale-button {
  padding: 21px 30px;
  background-color: #C3228F;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 150px;
}
.sale-button:hover {
  background-color: #fff;
  color: #C3228F;
  border: 1px solid #C3228F;
}
.sale-icon {
  position: absolute;
  top: -30px;
  right: 348px;
}

.sale2 {
  position: relative;
  padding-top: 70px;
}
.sale2-icon {
  position: absolute;
  top: 46px;
  left: 819px;
}
.sale2-info {
  display: flex;
  align-items: center;
  gap: 131px;
  padding-top: 50px;
}
.sale2-title {
  font-size: 26px;
  line-height: 30px;
  color: #3D3D3D;
  text-transform: uppercase;
}
.sale2-desc {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #3D3D3D;
  padding-top: 20px;
}
.sale2-button {
  padding: 21px 30px;
  background-color: #C3228F;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 150px;
}
.sale2-button:hover {
  background-color: #fff;
  color: #C3228F;
  border: 1px solid #C3228F;
}/*# sourceMappingURL=main.css.map */