* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.container {
    width: 1193px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

// header start
.header {
    .container {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
    }

    .nav {
        &-list {
            display: flex;
            gap: 50px;
        }

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
            line-height: 22.5px;
            color: #3D3D3D;
            &:hover{
                color: #3333339a;
            }
        }
    }
    .select{
        &-link{
            text-decoration: none;
            font-size: 15px;
            line-height: 22px;
            color: #3D3D3D;
            padding-left: 20px;
            &:hover{
                color: #C3228F;
                text-decoration: underline;

            }
        }
    }
}
// header end

// main start

// shalet-logo start

.shalet-logo{
    .container{
        padding-top: 107px;
    }
    &__img{
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__title{
        padding-top: 33px;
        font-size: 26px;
        line-height: 30px;
        color: #3D3D3D;
    }
}

// shalet-logo end

// reklama start
.reklama{
    position: relative;
    &-img{
        display: flex;
        margin-top: 50px;
        img{
        width: 533px;
        height: 650px;
       
       }
    }
    &-img2{
        position: absolute;
        top: -112px;
        right: 423px;
    }
    &-list{
        display: flex;
        gap: 35px;
    }
    &-item{
        font-size: 32px;
        line-height: 38px;
        list-style: none;
        display: flex;
        align-items: center;
        img {
            width: 45px;
            height: 30px;
            margin-right: 35px;
        }
    }
}
// reklama end

//brand start

.brand{
    margin-top: 180px;
    &-info{
        display: flex;
        align-items: center;
        gap:70px;
    }
    &-title{
        font-size: 40px;
        line-height: 56px;
        color: #3D3D3D;
        text-transform: uppercase;
        margin-top: 25px;
        span{
            color: #C3228F;
        }
    }
    &-title2{
        font-size: 40px;
        line-height: 56px;
        color: #C3228F;
        text-transform: uppercase;
        margin-top: 25px;
    }
    &-desc{
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 30px;
        span{
            color: #C3228F;
        }
    }
}

//brand end

// about start

.about{
    position: relative;
    margin-top: 240px;
    .container{
        background-color: #9d2c7933;
        padding-bottom: 95px;
    }
    img{
        position: absolute;
        top: -60px;
        left: 273px;
    }
    &-title{
        font-size: 26px;
        line-height: 30px;
        padding:54px 0 30px 102px ;
        color: #3D3D3D;
        text-transform: uppercase;
    }
    &-desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #3D3D3D;
        padding:0 102px 20px 102px ;
        a{
            color: #C3228F;
        }
    }
}

// about end


// product start

.product{
    margin-top: 180px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title{
        font-size: 26px;
        line-height: 30px;
        color: #3D3D3D;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &-icon{
        display: flex;
        gap: 15px;
    }
}

// product end

// marketing start

.marketing{
    background-color: #F5F5F5;
    display: flex;
    margin-top: 40px;
    &-img{
        width: 398px;
        text-align: center;
    }
    &-title{
        color: #3D3D3D;
        font-size: 16px;
        line-height: 18px;
    }
    &-desc{
        font-size: 14px;
        line-height: 20px;
        color: #3D3D3D;
        font-weight: 400;
        padding: 11px 40px 0 40px;
    }
}

// marketing end

// main end
