* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.container {
    width: 1193px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

// header start
.header {
    .container {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
    }

    .nav {
        &-list {
            display: flex;
            gap: 50px;
        }

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
            line-height: 22.5px;
            color: #3D3D3D;
            &:hover{
                color: #3333339a;
            }
        }
    }
    .select{
        &-link{
            text-decoration: none;
            font-size: 15px;
            line-height: 22px;
            color: #3D3D3D;
            padding-left: 20px;
            &:hover{
                color: #C3228F;
                text-decoration: underline;

            }
        }
    }
}
// header end

// main start

// shalet-logo start

.shalet-logo{
    .container{
        padding-top: 107px;
    }
    &__img{
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__title{
        padding-top: 33px;
        font-size: 26px;
        line-height: 30px;
        color: #3D3D3D;
    }
}

// shalet-logo end

// reklama start
.reklama{
    position: relative;
    &-img{
        display: flex;
        margin-top: 50px;
        img{
        width: 533px;
        height: 650px;
       
       }
    }
    &-img2{
        position: absolute;
        top: -112px;
        right: 423px;
    }
    &-list{
        display: flex;
        gap: 35px;
    }
    &-item{
        font-size: 32px;
        line-height: 38px;
        list-style: none;
        display: flex;
        align-items: center;
        img {
            width: 45px;
            height: 30px;
            margin-right: 35px;
        }
    }
}
// reklama end

//brand start

.brand{
    margin-top: 180px;
    &-info{
        display: flex;
        align-items: center;
        gap:70px;
    }
    &-title{
        font-size: 40px;
        line-height: 56px;
        color: #3D3D3D;
        text-transform: uppercase;
        margin-top: 25px;
        span{
            color: #C3228F;
        }
    }
    &-title2{
        font-size: 40px;
        line-height: 56px;
        color: #C3228F;
        text-transform: uppercase;
        margin-top: 25px;
    }
    &-desc{
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 30px;
        span{
            color: #C3228F;
        }
    }
}

//brand end

// about start

.about{
    position: relative;
    margin-top: 240px;
    .container{
        background-color: #9d2c7933;
        padding-bottom: 95px;
    }
    img{
        position: absolute;
        top: -60px;
        left: 273px;
    }
    &-title{
        font-size: 26px;
        line-height: 30px;
        padding:54px 0 30px 102px ;
        color: #3D3D3D;
        text-transform: uppercase;
    }
    &-desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #3D3D3D;
        padding:0 102px 20px 102px ;
        a{
            color: #C3228F;
        }
    }
}

// about end


// product start

.product{
    margin-top: 180px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title{
        font-size: 26px;
        line-height: 30px;
        color: #3D3D3D;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &-icon{
        display: flex;
        gap: 15px;
    }
    &-link{
        font-size: 16px;
        line-height: 18px;
        color: #3D3D3D;
        text-decoration: none;
        text-transform: uppercase;
        padding-right: 40px;
        &:hover{
            border: 1px solid #C3228F;
            padding: 11px 20px;
            border-radius: 150px;
        }
    }
}

// product end

// marketing start

.marketing{
    background-color: #F5F5F5;
    display: flex;
    margin-top: 40px;
    &-img{
        width: 398px;
        text-align: center;
        border-right: 1px solid #E7E7E7;
    }
    &-img1{
        border-right: 1px solid #E7E7E7;
    }
    &-title{
        color: #3D3D3D;
        font-size: 16px;
        line-height: 18px;
    }
    &-desc{
        font-size: 14px;
        line-height: 20px;
        color: #3D3D3D;
        font-weight: 400;
        padding: 11px 40px 0 40px;
    }
}

// marketing end

// sale start
.sale{
    &-part{
        display: flex;
        gap: 32px;
        align-items: center;
        position: relative;
        margin-bottom: 70px;
    }
    &-title{
        font-size: 26px;
        line-height: 30px;
        color: #3D3D3D;
        padding-bottom: 20px;
    }
    &-desc{
        font-size: 18px;
        line-height: 29px;
        font-weight: 400;
        padding-bottom: 60px;
    }
    &-img{
        position:absolute;
        top: -30px;
        left: 348px;
    }
    &-button{
        padding: 21px 30px ;
        background-color: #C3228F;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 150px;
        &:hover{
            background-color: #fff;
            color: #C3228F;
            border: 1px solid #C3228F ;
        }
    }
    &-icon{
        position:absolute;
        top: -30px;
        right:348px;
    }
}
.sale2{
    position: relative;
    padding-top: 70px;
    &-icon{
        position: absolute;
        top: 46px;
        left: 819px;
    }
    &-info{
        display: flex;
        align-items: center;
        gap: 131px;
        padding-top: 50px;
    }
    &-title{
        font-size: 26px;
        line-height: 30px;
        color: #3D3D3D;
        text-transform: uppercase;
    }
    &-desc{
        font-size: 18px;
        line-height: 29px;
        font-weight: 400;
        color: #3D3D3D;
        padding-top: 20px;
    }
    &-button{
        padding: 21px 30px ;
        background-color: #C3228F;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 150px;
        &:hover{
            background-color: #fff;
            color: #C3228F;
            border: 1px solid #C3228F ;
        }
    }
}

// sale end

// online-shops start

.online-shops{
    &__img{
       width: 100%;
       display: flex;
    }
    a{
        border-right: 1px solid #E7E7E7;
    }
}

// online-shops end

// shalet-brand__box start

.shalet-brand__box{
    .container{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
        position: relative;
        .img{
            width: 276px;
            height: 350px;
        }
        // .img-2{
        //     position: absolute;
        //     top: 0;
        //     z-index: 10;
        // }
    }
}

// shalet-brand__box end

// certificat start

.certificat{
    display: flex;
    margin-top: 40px;
}

// certificat end

// comment start
.comment-box{
    display: flex;
    margin-top: 40px;
}
.comment{
    width: 597px;
    background: #F5F5F5;
    border-right: 1px solid #E7E7E7;
    padding: 50px;
    padding-bottom: 67px;
    &-info{
        display: flex;
        align-items: start;
        justify-content: space-between;
        p{
            font-size: 14px;
            font-weight:400;
            line-height: 20px;
            color: #B9B9B9;
        }
    }
    &-title{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &-icon{
        h2{
            font-size: 14px;
            line-height: 16px;
            color: #3D3D3D;
            text-transform: uppercase;
            padding-bottom: 5px;
        }
    }
    p{
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #3D3D3D;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    a{
        color: #C3228F;
        &:hover{
            color: #3D3D3D;
        }
    }
}

// comment end

// main end
